<% if user_signed_in? %>
<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <% if @user.avatar.attached? %>
                              <%= image_tag @user.avatar %>
                            <% else %>
                            <%= image_tag gravatar_image_url(@user.email) %>
                          <% end %>
                           
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                       <%= @user.name + " " + @user.lastname %>
                                    </h5>
                                    <h6>

                                Your last access  <%= @user.last_time = DateTime.now().strftime("%d/%m/%Y At %I:%M%p")%>

                                    </h6>
                                    <p class="proile-rating"><p>Date: <span id="datetime"></span></p><span></span>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My Wall</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2" style=" margin-top: -20px;">
                       <div class="profile-edit" style="color: #6C757D">
                        <%= link_to 'Admin Dashboard', users_path %>
                        </div>
                        <div class="profile-edit" style="color: #6C757D">
                        <%= link_to 'SuperAdmin', user_types_path %>
                        </div>
                        <div class="profile-edit" style="color: #6C757D">
                        <%= link_to 'Edit Profile',edit_user_registration_path %>
                       </div>
                       <div class="profile-edit" style="color: #6C757D">
                        <%= link_to "Log Out", destroy_user_session_path, method: :delete%>
                       </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>What would you like to do?</p>
                            <a href="/posts#index">Main Page</a><br/>
                            <a href="/posts/new">New Post</a><br/>
                            <a href="/reports/new">Report Post</a><br/>
                            <a href="">Report User</a></br>
                            <a href="/geofences/new">Create Geofence</a><br/>
                            <a href="/geofences/index">View Geofence</a><br/>
                            <a href="/blacklist/main">Blacklist</a><br/>
                            <a href="/dumpster/main">Dumpster</a><br/>

                            <p>Activity</p>
                            <a >Posts: 3</a><br/>
                            <a >Liked posts: 15</a><br/>
                            <a >Shared posts: 13</a><br/>
                            <a >Commented posts: 4</a><br/>
                            <a >Disliked posts: 40</a><br/>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= @user.name + " " + @user.lastname %></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= @user.email %></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%=@user.phone %></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Address</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= @user.address %></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>My Bio!</label>
                                            </div>
                                            <div class="col-md-6" style="font-size: 13px">
                                                <p><%=@user.profile %></p>
                                            </div>
                                        </div>

                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Recient Complains</label>
                                            </div>
                                            <div class="col-md-6" style="font-size: 12px;">
                                                <p>At 13/05/2019 Title: Problem with the acoustics where: Uandes State: Unsolved</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Shared Complains</label>
                                            </div>
                                            <div class="col-md-6" style="font-size: 12px;">
                                                <p>At 1/04/2019 Title: Elevator in maintenace where: Titanium Building, Santiago,Chile State: Solved <br> By: Cristobal Uslar</br></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Commented Complain</label>
                                            </div>
                                            <div class="col-md-6" style="font-size: 12px;">
                                                <% if @user.posts.empty? %>

                                                    <p> No recent activity</p>
                                                <% else %>
                                                    <p> hay posts </p>
                                                <% end %>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Like/Dislike Posts</label>
                                            </div>
                                            <div class="col-md-6" style="font-size: 12px;">
                                               <p>At 11/05/2019 Title: the crazy waiter threw me hot soup where: Eladio Restaurant By: Cristobal Uslar <br> Dislike</br></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Recient Report</label>
                                            </div>
                                            <div class="col-md-6" style="font-size: 12px;">
                                                <p>At 11/05/2019 Title: I hate people from other countries where: Santiago,Chile Restaurant By: Fernado Reyes <br> Offensive</br></p>
                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>           
    </div> 
<%end%>
<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
</script>
<%= link_to 'Back', users_path %>
