<% if user_signed_in? %>
<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <% if @user.avatar.attached? %>
                              <%= image_tag @user.avatar %>
                            <% else %>
                            <%= image_tag gravatar_image_url(@user.email) %>
                          <% end %>
                           
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                       <%= @user.name + " " + @user.lastname %>
                                    </h5>
                                    <h6>

                                Your last access  <%= @user.last_time = DateTime.now().strftime("%d/%m/%Y At %I:%M%p")%>

                                    </h6>
                                    <p class="proile-rating"><p>Date: <span id="datetime"></span></p><span></span>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Recent Activity</a>
                                </li>
                                <% if current_user.id == @user.id %>
                                <% if @user.useris == "Admin" or @user.useris == "SuperAdmin"%>
                                <li class="nav-item">
                                    <a class="nav-link" id="admin-tab" data-toggle="tab" href="#admin" role="tab" aria-controls="admin" aria-selected="false">Admin Dashboard</a>
                                </li>
                                <%end%>
                                <%end%>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2" style=" margin-top: -20px;">
                        <div class="profile-edit" style="color: #6C757D">
                        <%= link_to 'Edit Profile',edit_user_registration_path %>
                       </div>
                       <div class="profile-edit" style="color: #6C757D">
                        <%= link_to "Log Out", destroy_user_session_path, method: :delete%>
                       </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work" style="text-align: left;">
                            <p>What would you like to do?</p>
                            <% if @user.useris == "Regular"%>
                            <a href="/posts#index">Main Page</a><br/>
                            <a href="/posts/new">New Post</a><br/>
                            <a href="/reports/new">Report Post</a><br/>
                            <% elsif @user.useris == "Admin" or @user.useris =="SuperAdmin"%>
                            <a href="/posts#index">Main Page</a><br/>
                            <a href="/posts/new">New Post</a><br/>
                            <a href="/reports/new">Report Post</a><br/>
                            <a href="/geofences/new">Create Geofence</a><br/>
                            <a href="/geofences">View Geofence</a><br/>
                            <a href="/blacklist/main">Blacklist</a><br/>
                            <a href="/dumpster/main">Dumpster</a><br/>
                            <%end%>
                            <p>Activity</p>
                            <a >Posts: 
                                <%=@user.posts.count%></a><br/>
                            <a >Shared posts: 13</a><br/>
                            <a >Commented posts: 
                               <%= @user.comments.count%></a><br/>
                            <a> User Role: <%= @user.useris%> </a>
                            
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent" style = "text-align: left";>
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= @user.name + " " + @user.lastname %></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= @user.email %></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%=@user.phone %></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Address</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= @user.address %></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>My Bio!</label>
                                            </div>
                                            <div class="col-md-6" style="font-size: 13px">
                                                <p><%=@user.profile %></p>
                                            </div>
                                        </div>

                            </div>
                        <% if current_user.id == @user.id %>
                        <div class="tab-pane fade" id="admin" role="tabpanel" aria-labelledby="admin-tab">
                                        <% if @user.useris == "Admin"%>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Admin Activity</label>
                                            </div>
                                            <div class="col-md-6">
                                                <%= link_to 'Show Users', users_path %>
                                            </div>
                                        </div>
                                        <%elsif @user.useris == "SuperAdmin"%>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>SuperAdmin Activity</label>
                                            </div>
                                            <div class="col-md-6">
                                                 <%= link_to 'Show Users', users_path %>
                                            </div>
                                        </div>
                            <%end%>            
                            </div>
                            <%end%>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Recent Complaints</label>
                                            </div>
                                            <div class="col-md-6" style="font-size: 12px;">
                                                <% if @user.posts.empty? %> 
                                                <p>No recent complains</p>
                                                <%else%>
                                                <p style ="font-weight: 600; color: #0062cc;"> <%= link_to @user.posts.last.title , post_path(@user.posts.last)%></p>
                                                <%end%>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Commented Complaint</label>
                                            </div>
                                            <div class="col-md-6" style="font-size: 12px;">
                                                <% if @user.comments.empty?%>
                                                <p> No recent activity</p>
                                                <%else%>
                                                    <%comment_post = Post.find_by(id: @user.comments.last.post.id)%>
                                                    <%if comment_post%>
                                                    <p><%= link_to @user.comments.last.text, comment_post%></p>
                                                    <%end%>
                                                <%end%>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Upvoted/Downvoted Posts</label>
                                            </div>
                                            <div class="col-md-6" style="font-size: 12px;">
                                                <% if @user.votes.empty? %>
                                                <p> No recent votes </p>
                                                <%else%>
                                                <% voted_post = Post.find_by(id: @user.votes.last.votable_id) %>
                                                <% if voted_post %>
                                                    <p><%= link_to @user.votes.last.vote_flag ? 'Like Post' : 'Dislike Post', voted_post %></p>
                                               <%end%>
                                               <%end%>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Recent Report</label>
                                            </div>
                                            <div class="col-md-6" style="font-size: 12px;">
                                            <% if @user.reports.empty? %>
                                            <p> No recent reports</p>
                                            <%else%>
                                            <p><%=link_to @user.reports.last.text, report_path(@user.reports.last) %></p>
                                            <%end%>
                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>           
    </div> 
    <% else %>
    <%= link_to "Join Us to see users profile", new_user_registration_path %>
<%end%>
<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
</script>
<%= link_to 'Back', users_path %>
