<!DOCTYPE html>
<section class="row-section">
    <div class="container">
      <div class="row">
        <h2 class="text-center"><span></span></h2>
      </div>
      <div class="col-md-10 offset-md-1 row-block">
        <%= form_with(model: @post, local: true) do |f| %>
          <% @posts.each do |post| %>
          <% if post.apropriated? %>
            <ul id="sortable">
              <li><div class="media">
              <div class="media-left align-self-center">
                  <% if post.user.avatar.attached? %>
                              <%= image_tag post.user.avatar , class: "rounded-circle"%>
                            <% else %>
                            <%= image_tag gravatar_image_url(post.user.email), class: "rounded-circle" %>
                          <% end %>
              </div>
              <div class="media-body">
                  <h4><%= post.user.name %> <%= post.user.lastname %></h4>
                  <h3><%= post.title %></h3>
                  <p><%= post.text %></p>

              </div>
              <div class="media-right align-self-center">
                  <%= link_to "View Post", post_path(post), class: "btn btn-default" %> 
              </div>
              <div class="media-right align-self-center">
                 <i class="fas fa-thumbs-up"></i>
                 <span ><%= post.get_upvotes.size %> </span>
              </div>
              <div class="media-right align-self-center">
                 <i class="fas fa-thumbs-down"></i>
                 <span ><%= post.get_downvotes.size %> </span>
              </div>
          </div>
          <% end %>
          <% end %>
        <% end %>
       

