<div class = "postindex" style="height: 650px;">
<h1 style="color: black; font-family: Futura;"> The Blacklist</h1>
<div class="container" style="margin-top: 50px;">
	 <div class="row userMain">
    
        <% @users.each do |user| %>
        <!-- la linea de abajo funciona bien deja esa en vez de la == true -->
        <% if user.is_suspended? %>
           <div class="col-md-3 col-sm-4">
               <div class="userBlock">
                   <div class="backgrounImg">
                       <img src="https://conceptodefinicion.de/wp-content/uploads/2014/03/ciudad.jpg">
                   </div>
                   <div class="userImg">
                       <% if user.avatar.attached? %>
                              <%= image_tag user.avatar%>
                            <% else %>
                            <%= image_tag gravatar_image_url(user.email) %>
                          <% end %>
                   </div>
                   <div class="userDescription">
                       <h5><%=user.name%></h5>
                       <h5><%=user.lastname%></h5>
                       <p><%= user.email %></p>
                      
                       
                        <div class="followrs">
                           <span class="number">phone: </span>
                            <span><%= user.phone %></span>
                        </div>
            
                            
                           <td><%= link_to 'User Profile', user_path(user.id) %>
                   </div>
                  
               </div>

           </div>
          
          <% end %>
          <% end %>
      
      
    </div>
</div>
</div>