<h1>PISSED  home page</h1>
<P>created by</p>
<p>Carmen Paz Torres</p>
<p>Benjamin Bravo</p>

==>  <%= link_to "User Index", users_path, :class => "header" %></li> 
==>  <a href="/users/new">new user</a>
 
==>  <%= link_to "Geofence Index", geofences_path, :class => "header" %></li> 
==>  <a href="/geofences/new">new gofence</a>

==>  <%= link_to "Post Index", posts_path, :class => "header" %></li> 
==>  <a href="/posts/new">new post</a>

==>  <%= link_to "Comments Index", comments_path, :class => "header" %></li> 
==>  <a href="/comments/new">new comment</a>

==>  <%= link_to "User type Index", user_types_path, :class => "header" %></li> 
==>  <a href="/user_types/new">new user type </a>


